html, body{
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.container{
    width:100%;
}

nav{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27DEBF;
}

nav .header{
  font-size: 22px;
}

nav .headerpart a{
  margin: 0px 10px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: 200ms;
  border-radius: 5px;
}

nav .headerpart a.cart span{
  padding: 6px;
  margin: 0px 3px;
  background-color: #07f7cf;
  border-radius: 5px;
}

.sidebar{
  background-color: #27DEBF;
}

.sidebar .section{
  padding: 30px;
  text-align: center;
  background-color: #44f1d5;
  transition: background-color 200ms, transform 200ms ;
  cursor: pointer;
}

.sidebar .section:hover{
  transform: scale(1.1);
  background-color: #27DEBF;
}

.sidebar .section a{
  text-decoration: none;
  color: black;
}

.category{
  margin: 30px 0px;
}

.category .heading{
  font-size: 28px;
}

.category .item{
  padding: 10px;
  margin: 5px;
  border: 1px solid #27DEBF;
  text-align: center;
  border-radius: 10px;
  transition: transform 200ms, box-shadow 200ms;
}

.category .item:hover{
  transform: scale(1.1);
  box-shadow: black 0px 0px 0px;
}

.category .item img{
  height: 300px;
  width: 300px;
}

.category .item .title{
  font-size: 20px;
}

.category .item .desp{
  font-size: 16px;
  font-weight: 100;
}

.category .item .addToCart button{
  width:100%;
  background-color: #44f1d5;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.cartBackground{
  display: none;
  background-color: rgba(0, 0, 0, 0.384);
  position: fixed;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.cartBackground.open{
  display: block;
}

.zoomEffect{
  transform:  scale(0);
  transition: transform 300ms;
}

.zoomEffect.active{
  transform: scale(1);
}

.cartContent{
  margin: 60px 0px;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  border-radius: 10px;
}

.cartContent .cartTitle{
  text-align: center;
  font-size: 24px;
}

.cartItems img{
  width: 150px;
  border: 2px solid #44f1d5;
  border-radius: 5px;
}

.remove button{
  float: right;
  margin-top: -30px;
  background-color:#44f1d5;
  border-radius: 5px;
  color:black;
}
  
@media screen and (max-width: 700px) {
}

@media screen and (max-width: 600px) {

}
  
  
  
